[push]
	default = simple
[user]
	email = me@sorz.org
	name = Shell Chen
	signingKey = "~/.ssh/id_gitsign.pub"
[gpg]
	format = "ssh"
[credential]
	helper = store
[alias]
	co = checkout
[commit]
	gpgsign = true
[init]
	defaultBranch = main
