[core]
	editor = vim
[push]
	default = simple
[user]
	email = me@sorz.org
	name = Shell Chen
	signingkey = 573AC4CFA38DBA3A
[credential]
	helper = store
[alias]
	co = checkout
[commit]
	gpgsign = false
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.sorz.org
	smtpuser = me
	smtpserverport = 587
[init]
	defaultBranch = main
